.gallery-hero {
    width: 100%;
    height: 50vh;
  
    background: linear-gradient(rgba(0, 0, 0, 0.546), rgba(0, 0, 0, 0.53)),
      url("/src/assets/slider1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  @media (max-width: 1024px) {
    .gallery-hero  {
      width: 100%;
      height: 40vh;
    }
  }
  @media (max-width: 640px) {
    .gallery-hero  {
      width: 100%;
      height: 40vh;
    }
  }

  