.footer {
  height: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
  padding-top: 80px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.923), /* Black with opacity */
    rgba(0, 0, 0, 0.811)
  ),
  url("../../assets/pattern.svg");

  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Scale the image to cover the entire container */
  background-position: center;
}
@media (max-width: 1024px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
@media (max-width: 640px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
